form {
    border: 1px solid #999;
    border-radius: 1rem;
    padding: 1rem;
    margin: 2rem;
    text-align: left; /* Justifica o formulário à esquerda */
    background-color: black; /* Define o fundo como preto */
    color: white; /* Define a cor do texto como branco */
}

.input-group,
input {
    display: block;
    font-size: 1.8rem;
    width: 100rem;
    margin: 1rem 0;
    background-color: black; /* Define o fundo dos campos como preto */
    color: white; /* Define a cor do texto dos campos como branco */
}

label {
    font-size: 1.6rem;
    color: white; /* Define a cor do texto dos rótulos como branco */
}

button {
    border-radius: 5px;
    background-color: darkblue;
    color: #fff;
    font-size: 1.6rem;
    padding: 1rem 1.5rem;
}

#mensagem p {
    font-size: 1.4rem;
    color: #f00;
}

strong {
    font-size: 1.4rem;
    color: white; /* Define a cor do texto em negrito como branco */
}
